@import "variables";
@media (max-width: 768px) {

    /*HEADER*/

    header {
        .open {
            display: block;
        }
        .open, .close {
            position: absolute;
            top: 17px;
            left: 20px;
            img {
                width: 25px;
            }
        }
        .animated-cover {
            margin-top: 60px;
        }
    }

    /*NAV*/

    nav {
        display: inline-block;
        text-align: center;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $pitlaneBlue;
        border-bottom: 2px solid #ddd;
        z-index: 1;

        h1 {
            display: block;
            margin: auto;
            a {
                font-size: 1.5rem;
                margin: 0;
            }

        }
        ul {
            display: none;
            position: fixed;
            top:0;
            width: 100%;
            height: 100vh;
            background-color: $pitlaneBlue;
            z-index: 1;
        }
    }

    #nav:target {
        .close {
            display: block;
            z-index: 2;
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li {
                margin: 1rem 0;
                a {
                    padding: 0;
                    font-size: 1.5rem;
                }
            }
        }
    }

    footer {
        margin-top: 1rem;
    }

    /*INDEX*/
    
    .news {
        ul {
            padding: 8px;
            margin: 0;
            li {
                width: 50%;
                box-sizing: border-box;
                margin: 0;
                padding: 16px 8px 0 8px;
                div {
                    padding: 2px;
                    h2 {
                        display: none;
                    }
                    p {
                        margin: 12px 12px 12px 0;
                    }
                }
            }

        }
    }
    
    .last-result {
        padding: 1rem;
        .grid {
            display: flex;
            flex-direction: column;
        }
    }

    .top3 {
            flex-direction: column;
            div {
                margin-bottom: 1rem;
            }
            .second-third {
                display: none;
            }
    }
    .indextable {
        table {
        width: 80%;
        th {
            padding: 0;
        }
        td {
            padding: 0.5rem;
        }
        a {
            width: 100%;
        }
    }
    }

    /*STANDINGS*/

    .position {
        width: 100vw;
        table {
            margin: 0;
            width: 100vw;
        }
        .mini {
            display: none;
        }

        th {
            padding: 0.5rem;
        }

        td {
            padding: 0.5rem 0;
        }
    }

    #carousel-standings {
        margin: 0;
        width: 100%;
    }

    .standings-footer {
        margin: 0;
    }

   

    /*DRIVERS*/

    .driver {
        .container {
            margin: 0;
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .mugshot {
                img {
                    width: 50%;
                }
            }
        }
    }

    /*RACES*/
    
    .track {
        .container {
            margin: 0;
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            }
            iframe {
                display: none;
            }
        }
    

    /*CONTACT*/

    .contact-us {
        .right {
            float: none;
        }
        width: 100vw;
        .row {
            width: 100%;
            h2 {
                margin-top: 1rem;
            }
        }
        h2 {
            margin-top: 1rem;
        }
        div {
            .input-container {
                width: 80%;
            }
            .styled-input {
                float: none;
                width: 80%;
            }

            .submit-btn {
                padding: 8px 0;
                width: 60%;
                margin: auto;
            }
        }
    }


}